/* shared.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0077be; /* Cor do mar */
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

#header1,
#footer {
  height: 4vw;
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
}

#header1 h2,
#footer h2 {
  font-size: 2vw;
  color: #5499d8;
  font-family: "Arial";
  font-weight: 700;
  margin: 0;
}

.header-MechAI {
  margin-left: 1vw;
}

#menu {
  display: flex;
  margin-left: 2vw;
}

#menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  margin-left: 1vw;
  font-size: 1.5vw;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

/* Extra Pequeno (XS) - Telefones Pequenos: Menos de 576 pixels */
@media (max-width: 575.98px) {
  #header1 h2,
  #footer h2 {
    font-size: 4vw;
  }

  #menu ul li {
    font-size: 3vw;
    margin-left: 2vw;
  }
}

/* Pequeno (SM) - Telefones Médios e Tablets Pequenos: 576px a 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  #header1 h2,
  #footer h2 {
    font-size: 3.5vw;
  }

  #menu ul li {
    font-size: 2.5vw;
    margin-left: 1.5vw;
  }
}

/* Médio (MD) - Tablets e Laptops: 768px a 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  #header1 h2,
  #footer h2 {
    font-size: 3vw;
  }

  #menu ul li {
    font-size: 2vw;
    margin-left: 1.5vw;
  }
}

/* Grande (LG) - Desktops Médios: 992px a 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header1 h2,
  #footer h2 {
    font-size: 2.5vw;
  }

  #menu ul li {
    font-size: 1.8vw;
    margin-left: 1.2vw;
  }
}

/* Extra Grande (XL) - Desktops Grandes: 1200px ou mais */
@media (min-width: 1200px) {
  #header1 h2,
  #footer h2 {
    font-size: 2vw;
  }

  #menu ul li {
    font-size: 1.5vw;
    margin-left: 1vw;
  }
}
