/* style.css */

@import url("https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.5vw;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "intro"
    "mission"
    "value"
    "join-us"
    "interest"
    "footer";
  grid-template-rows: auto 60vh auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  width: 100%;
}

.hero {
  grid-area: hero;
  position: relative;
  background: url("../img/animal.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 35vh;
}

.hero h1 {
  font-size: 5vw;
  font-weight: 700;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro,
.mission,
.value,
.join-us {
  padding: 5vh 5vw;
  width: 100%;
  text-align: center;
  background-color: #ffffffcc;
  color: black;
  margin: 2vh 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro h2,
.mission h2,
.value h2,
.join-us h2,
.interest h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 3vw;
  padding-bottom: 3vw;
}

.intro {
  grid-area: intro;
}

.mission {
  grid-area: mission;
}

.value {
  grid-area: value;
}

.join-us {
  grid-area: join-us;
}

.interest {
  grid-area: interest;
  background-color: lightgray;
  padding: 2vh 0;
  width: 100%;
  text-align: center;
}

.interest h2 {
  margin-bottom: 2vh;
}

.interest .cards {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.interest .card {
  background-color: white;
  text-align: center;
  width: 20vw;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.interest .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.interest .card a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.interest .card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.interest .card p {
  padding: 1vh;
  font-weight: 700; /* Texto mais chamativo */
}

.dark-blue-link {
  color: #004080;
}

.dark-blue-link:hover {
  color: #002050; /* Azul mais escuro no hover */
}

mark {
  background-color: transparent;
  text-decoration: underline;
}

/* Extra Pequeno (XS) - Telefones Pequenos: Menos de 576 pixels */
@media (max-width: 575.98px) {
  .hero h1 {
    font-size: 8vw;
  }

  .intro h2,
  .mission h2,
  .value h2,
  .join-us h2,
  .interest h2 {
    font-size: 6vw;
  }

  .interest .card {
    width: 80%;
  }
}

/* Pequeno (SM) - Telefones Médios e Tablets Pequenos: 576px a 767px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero h1 {
    font-size: 7vw;
  }

  .intro h2,
  .mission h2,
  .value h2,
  .join-us h2,
  .interest h2 {
    font-size: 5vw;
  }

  .interest .card {
    width: 20%;
  }
}

/* Médio (MD) - Tablets e Laptops: 768px a 991px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero h1 {
    font-size: 6vw;
  }

  .intro h2,
  .mission h2,
  .value h2,
  .join-us h2,
  .interest h2 {
    font-size: 4vw;
  }

  .interest .card {
    width: 20%;
  }
}

/* Grande (LG) - Desktops Médios: 992px a 1199px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero h1 {
    font-size: 5vw;
  }

  .intro h2,
  .mission h2,
  .value h2,
  .join-us h2,
  .interest h2 {
    font-size: 3.5vw;
  }

  .interest .card {
    width: 20%;
  }
}

/* Extra Grande (XL) - Desktops Grandes: 1200px ou mais */
@media (min-width: 1200px) {
  .hero h1 {
    font-size: 5vw;
  }

  .intro h2,
  .mission h2,
  .value h2,
  .join-us h2,
  .interest h2 {
    font-size: 3vw;
  }

  .interest .card {
    width: 20%;
  }
}
